.message-container {
    width: 100%;
}

.sender-message {
    background-color: azure;
    display: flex;
    flex-direction: row-reverse;
}

.receiver-message {
    background-color: bisque;
}

.message-content {
}
